* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    min-height: 100vh;
    background-color: #87B3BD;
    overflow-x: hidden;
}

main {
    width: 100%;
}

#aplicacoesBG {
    width: 100%;
    position: relative;
}

#aplicacoesBG img {
    width: 100vw;
    height: auto;
    display: block;
}

#classificacoes {
    width: 100%;
    padding-top: 125px; 
}

.caixa-titulo {
    background-color: #011C36;
    margin-left: 33px;
    padding: 41px 75px 40px 64px;
    width: 510px; 
    border-radius: 8px;
}

.caixa-titulo h2 {
    font-family: 'Inter', sans-serif;
    font-size: 40px; 
    font-weight: bold; 
    line-height: 1.2;
    text-align: left;
}

.cor-clara {
    color: #A7D1DA;
}
.cor-escura {
    color: #4F8EB5;
}