*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}
:root{
    --bg-blue: #6696A1;
    --texto-nav: #9FFFFF;
    --background-nav: rgba(7, 7, 7, 0.50);
    --Preto: #000000;
    --meio-preto: rgba(0, 0, 0, 0.5);
    --link-selecionado: rgba(7, 7, 7, 0.7);
    --branco: #FFFFFF;
    --azul-biotecnologia: rgba(51, 155, 229, 1);
    --roxo-biotecnologia: rgba(21, 3, 58, 1);
    --transparente: rgba(0, 0, 0, 0);
    --Azul-esverdeado-100: rgba(0, 7, 10, 1);
}

body{
    height: 100vh;/*altura é a alturA DA tela*/
    min-width: 100vw;/*largura é a largura da tela*/
    background-color: var(--bg-blue);
    font-family: Inter;
}

section{
    min-height: 100vh;/*cada section terá a altura de uma tela pq ai fica responsivo*/
    width: 80vw; /*largura de 80% da tela pra nao ficar tao no canto as coisas*/
    
}
.nav{
    .link-selecionado {
        background-color: var(--link-selecionado);
        width: 10rem;
        height: 6.6rem;
        border-radius: 1.4rem;
        margin-top: 1rem;
    }
}
#home-bg-img {
    width: 100vw;
    height: 100vh;
    display: flex;
    position: absolute;
    z-index: 0;
}
#titulo-principal-home {
    font-size: 8rem;
    font-weight: 700;
    position: absolute;
    #biotecnologia-branco {
        margin: 30rem 13rem;
        color: var(--branco);
        position: absolute;
        z-index: 3;
    }
    #biotecnologia-azul {
        margin: 30.3rem 13.3rem;
        color: var(--azul-biotecnologia);
        position: absolute;
        z-index: 2;
    }
    #biotecnologia-roxo {
        margin: 30.6rem 13.6rem;
        color: var(--roxo-biotecnologia);
        position: absolute;
        z-index: 1;
    }
}
#degrade-para-carrossel {
    background: linear-gradient(to top, var(--Preto), var(--meio-preto), var(--transparente));
    width: 100vw;
    height: 50vh;
    margin-top: 50vh;
    position: absolute;
}
.home {
        background-color: var(--Preto);
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        h2 {
            color: var(--branco);
            font-weight: 800;
            font-size: 3rem;
            margin-top: 5rem;
            margin-bottom: 15rem;
            text-align: center;
        }
        .conteudo-carrossel-encontrara{
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 15rem;
        }
        .card-encontrara {
            h3 {
                font-size: 3rem;
                margin-bottom: 2rem;
            }
            background-color: var(--Azul-esverdeado-100);
            width: 77.5rem;
            height: 35rem;
            padding: 5rem;
            border-radius: 2.8rem;
            color: var(--texto-nav);
            font-size: 3rem;
            border: 0.1rem solid var(--texto-nav);
        }
        #seta-esquerda {
            border-radius: 100rem;
            width: 10rem;
            height: 10rem;
            background-color: var(--Preto);
            border: none;
            transition: background-color 0.25s ease-in-out;
        }
        #seta-esquerda:hover {
            cursor: pointer;
            background-color: var(--Azul-esverdeado-100);
        }
        #seta-direita {
            border-radius: 100rem;
            width: 10rem;
            height: 10rem;
            background-color: var(--Preto);
            border: none;
            transition: background-color 0.25s ease-in-out;
        }
        #seta-direita:hover {
            cursor: pointer;
            background-color: var(--Azul-esverdeado-100);
        }
}