*{   
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}

body::-webkit-scrollbar {
  display: none;
}

.link-selecionado {
    background-color: var(--link-selecionado);
    width: 12.5rem;
    height: 6.6rem;
    border-radius: 1.4rem;
    margin-top: 1rem;
}

#crispBG {
    height: 130vh;
    z-index: 2;
    display: flex;
    align-items:center;
    justify-content: right;
    position: relative;
        #titulo {
            color: #fbfeff;
            font-size: 8rem;
            font-style: normal;
            font-weight: 700;
            font-family: Inter;
            line-height: normal;
            margin-right: 120rem;
            margin-bottom: 25rem;
            position: absolute;
            z-index: 21;
        }
        #titulo1 {
            color: #389c9c;
            font-size: 8rem;
            font-style: normal;
            font-weight: 700;
            font-family: Inter;
            line-height: normal;
            margin-right: 119.8rem;
            margin-bottom: 24.2rem;
            position: absolute;
            z-index: 20;
        }
        #titulo2 {
            color: #064d4d;
            font-size: 8rem;
            font-style: normal;
            font-weight: 700;
            font-family: Inter;
            line-height: normal;
            margin-right: 119.6rem;
            margin-bottom: 23.6rem;
            position: absolute;
            z-index: 19;
        }
}
#bg-container { 
        overflow: hidden;
        img{
            width: 100vw;
        }
}


#bg-primary{
    margin-top: -3rem;
    height: 310vh;
    width: 100vw;
    background-color: #94c3ce;
    padding: 10rem;
    padding-top: 30rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 0;
}

#bg-secondary {
    background-color: #94c3ce;
    min-height: 100%;
    width: 100%;
    border-radius: 10rem;
    z-index: 1;
    margin-bottom: 10rem;
    margin-top: 35rem;
}

main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows:repeat(auto auto auto auto);
    grid-template-areas: 
    "topo topo"
    "balao1 balao1"
    "balao2 balao2"
    "balao3 .";
}



footer {
    margin-top: auto;
    #div-footer {
        background-color: #365466;
        height: 40rem;
        min-width: 100vw;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        flex-direction: column;

        #img-footer {
            min-width: 10.3rem;
            height: 10.3rem;
            border-radius: 2rem;
        }

        #p1-footer {
            color: #DAEEFF;
            font-family: Inter;
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            letter-spacing: 0.9px;
        }

        #linha-footer {
            background-color: #B0D7D7;
            height: 0.2rem;
            width: 23rem;
        }

        #p2-footer {
            color: #DAEEFF;
            font-family: Inter;
            font-size: 40px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            letter-spacing: -1.2px;

            strong {
                color: #B0D7D7;
                font-family: Inter;
                font-size: 40px;
                font-style: normal;
                font-weight: 800;
                line-height: normal;
                letter-spacing: -1.2px;
            }
        }

        #p3-footer {
            color: #DAEEFF;
            font-family: Inter;
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            letter-spacing: -0.6px;
        }
    }
}